<!DOCTYPE html>
<html>
<head>
    <title>Making Model</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"-->
          <!--integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>-->
</head>
<body>
    <div>
        <h4>Making RDF Model</h4>
        <form id="modelForm">
            <div style="background-color:red">
                <label for="uri">URI</label>
                <input type="text" id="uri" name="uri" required="true" class="form-control"/>

                <label for="prefix">Prefix</label>
                <input type="text" id="prefix" name="prefix" required="true" class="form-control"/>

                <button id="addVocab">+</button>
            </div>
        </form>
        <button id="addVocabulaty">+</button>
    </div>

    <div id="headerModel">
        &lt;rdf:RDF<br/>
        &emsp;xmlns:rdf=http://www.w3.org/1999/02/22-rdf-syntax-ns#<br/>
    </div>
    <div id="resourceModel">

    </div>
    <div id="propertiesModel">
        &lt;/rdf:RDF&gt;<br/>
    </div>

    <script src="js/makeModel.js"></script>
</body>
</html>