<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Saving RDF</title>
    <link rel="stylesheet" type="text/css" href="css/semanticApiInterface.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/select2.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/select2-bootstrap.min.css"/>
</head>
<body>
<h3 align="center">Criando e salvando instância de ontologia</h3>
<div class="container">
    <form id="resForm" class="form-inline">
        <div class="row">
            <h4>Recurso</h4>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" id="resPrefix" placeholder="prefixo" data-toggle="tooltip" title="Insira um valor"/>
                    <span class="input-group-addon">:</span>
                    <input title="Insira um valor" data-toggle="tooltip" type="text" class="form-control" id="resName" placeholder="nome"/>
                    <span class="input-group-addon">about</span>
                    <input style="width: 325px" type="text" class="form-control" id="resAbout" placeholder="http://www.fre.dg/"
                           data-toggle="tooltip" title="As URIs devem ser válidas: http://... terminando com / ou #"/>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Vocabulários</h4>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">xmlns:</span>
                    <!--A tootip de aviso para selecionar um valor no momento da validação não está aparecendo quando não é selecionado um valor-->
                    <select class="form-control" id="vocabPrefix">
                        <option value="" title="">Selecione um vocabulário</option>
                        <option value="cc">Creative Commons (CC)</option>
                        <option value="dcat">Data Catalog (DCAT)</option>
                        <option value="dce">Dublin Core Metadata Element Set (DCE)</option>
                        <option value="dcterms">Dublin Core Metadata Iniative Terms (DCTERMS)</option>
                        <option value="event">Event</option>
                        <option value="foaf">FOAF</option>
                        <option value="prov">PROV</option>
                        <option value="vcard">VCARD</option>
                        <option value="schema">Shema.org</option>
                        <option value="skos">SKOS</option>
                        <option value="geo">GEO</option>
                    </select>
                    <span class="input-group-addon">=</span>
                    <input readonly="readonly" style="width: 300px" type="text" class="form-control" id="vocabUri" placeholder="http://www.foo.tz/"
                           data-toggle="tooltip" title="As URIs devem ser válidas: http://... terminando com / ou #" tabindex="-1"/>
                    <span class="input-group-btn">
                        <button type="button" id="addVocab" class="btn btn-secondary">
                          <span class="glyphicon glyphicon-plus"/>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div>
                <span style="font-size:18px">Propriedades</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="propAsResource" value="true"/> Como um recurso &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="hasSubproperty"/> Tem subpropriedade
            </div>
            <div class="form-group">
                <div class="input-group">
                    <select data-toggle="tooltip" title="Selecione um valor" placeholder="prefixo" class="form-control" style="width: 150px" id="propPrefix"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">:</span>
                    <select data-toggle="tooltip" class="form-control select2-single" id="propName" style="width:290px"></select>
                </div>
            </div>
            <div class="input-group" id="propValueDiv">
                <span class="input-group-addon">=</span>
                <input type="text" class="form-control" id="propValue" placeholder="valor" data-toggle="tooltip" style="width:250px"/>
                <div class="input-group-btn">
                    <button type="button" id="addProp" class="btn btn-secondary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" id="subpropDiv" style="display: none">
            <div class="form-group">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" id="subpropAsResource" value="true"/> Como um recurso &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="input-group">
                    <select data-toggle="tooltip" class="form-control select2-single" id="subpropName" style="width:290px"></select>
                </div>
                <div class = "input-group">
                    <span class="input-group-addon">=</span>
                    <input type="text" class="form-control" id="subpropValue" style="width:250px" placeholder="valor" data-toggle="tooltip" />
                    <div class="input-group-btn">
                        <button type="button" id="addSubprop" class="btn btn-secondary">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="input-group">
                    <button type="button" id="save" class="btn btn-secondary btn-lg">
                        <span class="glyphicon glyphicon-upload"></span>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="row" >
        <pre id="result" class="col-md-6">Formato de saída
            <br/><br/>
        </pre>
        <pre id="structData" class="col-md-6" style="margin-top: 20px;">Estrutura dos dados (parâmetros /resources/saveResource)
            <table id="listStrutcData">
                <thead>
                    <tr>
                        <th>propertyName&ensp;&ensp;</th>
                        <th>value&ensp;&ensp;&ensp;</th>
                        <th>asResource&ensp;&ensp;</th>
                        <th>subPropertyOf&ensp;&ensp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </pre>
    </div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/select2.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script src="js/semanticApiInterface.js"></script>
</body>
</html>